<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddLeaveRequest</servlet-name>
        <servlet-class>controller.request.AddLeaveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>htmlServlet</servlet-name>
        <jsp-file>/request.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLeaveRequest</servlet-name>
        <servlet-class>controller.request.DeleteLeaveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveLeaveRequest</servlet-name>
        <servlet-class>controller.request.ReceiveLeaveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLeaveRequest</servlet-name>
        <servlet-class>controller.request.UpdateLeaveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaLeaveRequest</servlet-name>
        <servlet-class>controller.request.AgendaLeaveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLeaveRequest</servlet-name>
        <servlet-class>controller.request.ViewLeaverRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <jsp-file>/view/home/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateLeaveRequest</servlet-name>
        <servlet-class>controller.request.CreateLeaveRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddLeaveRequest</servlet-name>
        <url-pattern>/request/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>htmlServlet</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLeaveRequest</servlet-name>
        <url-pattern>/request/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveLeaveRequest</servlet-name>
        <url-pattern>/request/receive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLeaveRequest</servlet-name>
        <url-pattern>/request/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaLeaveRequest</servlet-name>
        <url-pattern>/request/agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLeaveRequest</servlet-name>
        <url-pattern>/request/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLeaveRequest</servlet-name>
        <url-pattern>/request/create</url-pattern>
    </servlet-mapping>
</web-app>
