/PRJ302_Assignment/nbproject/private/
/PRJ302_Assignment/build/
/PRJ302_Assignment/dist/
/PT2_1/nbproject/private/
/PT2_1/build/
/PT2_1/dist/
/PT2_2a/nbproject/private/
/PT2_2a/build/
/PT2_2a/dist/
/PT2_2b/nbproject/private/
/jkashkj fgh kw/nbproject/private/
/jkashkj fgh kw/build/
/jkashkj fgh kw/dist/
/Book/nbproject/private/
/Book/build/
/Book/dist/
